* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
body {
  font-family: "Work Sans", serif;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header  */
header {
  padding: 10px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  width: 60px;
}
header nav {
  position: relative;
}
header .container nav i {
  transition: 0.3s;
  font-size: 24px;
}
header .container nav ul {
  position: absolute;
  top: calc(100% + 10px);
  right: 0px;
  background-color: var(--section-background);
  min-width: 200px;
  display: none;
}
header .container nav:hover {
  cursor: pointer;
}
header .container nav:hover i {
  color: var(--main-color);
}
header .container nav:hover ul {
  display: block;
}
header .container nav ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--section-background) transparent;
  right: 0px;
  top: -20px;
}

header .container nav ul li:not(:last-child) {
  border-bottom: 1px solid gray;
  margin: 10px 0px;
}
header .container nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  transition: var(--main-duration);
}
header .container nav ul li:not(:last-child) a {
  border-bottom: 1px solid black;
}
header .container ul li a:hover {
  color: var(--main-color);
  padding-left: 20px;
}
/* End Header  */
section {
  background-image: url(../Image/landing.jpg);
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  padding: 200px 0px;
}
section .container {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section .container .text h1 {
  color: var(--main-color);
  letter-spacing: 2px;
  font-size: 40px;
}
section .container .text p {
  color: #999;
  letter-spacing: 1px;
  font-size: 24px;
}
